.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
}

.slide {
    position: relative;
    width: 100%;
    margin:2rem;
    
}

.slide-hidden {
    display: none;
}

.img {
    width: 95%;
    position: absolute;
}

.main {
    z-index: +1;
}

.background {
    width: 100%;
    /* z-index: -1; */
    left: 0rem;
    top: -0.7rem;
}

.indicators {
    margin-top: 88px ;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
}

.indicator {
    background-color: #E2E2E2;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: none;
    outline: none;
    margin-bottom: 12px;
    cursor: pointer;
}

.indicator-inactive {
    background-color: #747474;
}