.popup {
    width: 1000px;
    height: 600px;
    margin:auto;
    background-color: #2F2F2F;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -500px;
    z-index: +1;
    border: 2px solid #747474;
}

.close {
    text-align: right;
    color: #01E401;
    font-family: Montserrat;
    padding: 20px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.32px;
    cursor: pointer;
}

.popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-container img {
    width: 322.479px;
    height: 377.58px;
    margin-right: 76px;
    box-shadow: 5px 5px 0px #01E401;
}

.reg-form form {
    display: flex;
    flex-direction: column;
}

.popup h2 {
    margin-bottom: 36px;
    color: #01E401;
    font-family: 'Druk Wide Bold';
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.98px;
    text-transform: uppercase;
}

.popup p {
    color: #01E401;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.32px;
}

.reg-form form input {
    margin-bottom: 36px;
    width: 380px;
    height: 72px;
    padding: 8px;
    border: 2px solid #747474;
    color: #747474;
    background-color: #2F2F2F;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.32px;
}

.msg {
    text-align: left !important;
    margin-top: 20px;
    height: 20px;
}

@media only screen and (max-width: 600px) {
    .popup {
        width: 85vw;
        padding: 20px;
        height: 780px;
        margin-left: -45vw;
        margin-top: -350px;
    }

    .popup-container {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    
    .popup-container img {
        width: 80%;
        height: auto;
        margin-right: 0px;
    }

    .reg-form-popup form input{
        margin-bottom: 30px;
        width: 100%;
        height: auto;

    }

    .popup-container-done {
        margin-left: 0px !important;
        margin-top:0px !important;
    }

    .done {
        width: 80% !important;
    }

    .done h2 {
        font-size: 20px;
        margin-top: 50px;
    }

    .registered-popup {
        height: 500px;
        margin: 0px;
        position: absolute;
        top: 200px;
        left: 45vw;
        margin-left: -38vw;

    }
}
