.App {
    max-width: 1440px;
    margin: auto;
    position: relative;
}

h2 {
    color: #2F2F2F;
    font-family: 'Druk Wide Bold';
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.98px;
    text-transform: uppercase;
}